
/*================== COLORS ==================*/
$blue: #3E6EF1;
$gray: #7F90B0;
$gray-dark: #2F394D;
$gray-light: #EFF1F7;
$gray-lightness: #F8F9FC;
$black: #000000;
$white: #ffffff;



/* ================== MARGINS ================== */
$mr-2: 2rem;
$mr-4: 4rem;
$mr-6: 6rem;
$mr-1x: 10rem;




