.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $mr-2 $mr-4;
}

.icon_nav-side {
  display: flex;
  align-items: center;
  gap: $mr-6;
}

.search_social-side {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.searchbar-container {
  border: 0.1rem solid $gray-light;
  padding: 0 0.6rem;
  display: flex;
  align-items: center;

  span > * {
    font-size: 1.2rem;
    color: $gray;
  }

  input {
    border: none;
    padding: 0.8rem;
    outline: none;
    width: 6rem;
    font-size: 0.8rem;
    color: $gray;

    &::placeholder {
      color: $gray;
    }
  }
}

.navbar nav ul,
.social-icons nav ul {
  display: flex;
  gap: $mr-2;

  li a {
    color: $gray;

    &:hover {
      color: $blue;
    }
  }
}

.social-icons {
  font-size: 1.25rem;
}

.navbar nav ul li a {
  color: $gray-dark;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo span {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 0.6rem;
}
